@font-face {
    font-family: Alaska;
    src: url("./Fonts/Alaska.ttf");
}
@font-face {
    font-family: Campus;
    src: url("./Fonts/Campus.ttf");
}
@font-face {
    font-family: Fresh;
    src: url("./Fonts/Freshman.ttf");
}
@import "tailwindcss";
/* Disable scrolling globally */
/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Ensure scrolling is still enabled */
 
  
html, body {
    overflow: hidden;
    height: 100%;
  }
  
  
 
  
  body {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    background-attachment: fixed;
    color: #FFC107;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
 